/test.txt/
/__pycache__/
/.mypy_cache/
/.sixth/
/alembic/__pycache__/
/auth_utils/__pycache__/
/celery_worker/__pycache__/
/core/__pycache__/
/core/.mypy_cache/
/core/alembic_env.py/
/email_notify/__pycache__/
/encryption_file/__pycache__/
/middleware/__pycache__/
/models/__pycache__/
/repos/__pycache__/
/routes/__pycache__/
/schemas/__pycache__/
/security/__pycache__/
/services/__pycache__/
/sms_notify/__pycache__/
/tasks/__pycache__/
/utils/__pycache__/
/file_convert_env/
.env
astro.db
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
project_media
/alembic/versions/__pycache__/
